.body {
    overflow-x: scroll;
}

.table-cell {
    position: relative;
    min-height: 40px;
    min-width: 130px;
    outline-color: rgb(126, 126, 126);
}

.row-index {
    height: 40px;
    width: 20px;
    text-align: center;
}

.column-index {
    text-align: center;
}

.main-table {
    border-collapse: collapse;
    border: 0.5px solid black;
}

tr:nth-child(2n+3) {
    background: #6b6b6b12;
}

tr:first-child {
    background: #362f4b;
    color: #dcd9e4;
    font-size: 20px;
}

.main-table tbody tr:first-child td:first-child {
    padding: 20px;
}

.main-table tbody tr:not(:first-child) td:first-child {
    background-color: #362f4b;
    color: #dcd9e4;
    font-size: 20px;
}

td {
    border: 0px;
}

.context-menu {
    -webkit-user-modify: read-only;
    display: flex;
    position: absolute;
    flex-direction: column;
    background-color: black;
    width: 100px;
    height: 150px;
    text-align: center;
    border: 1px solid black;
    color: white;
    z-index: 2;
}

.context-menu-hidden {
    display: none;
}

.locked-cell {
    background-color: red;
}

/* Added By Velin ----------*/
#table-info {
    height: 3.5rem;
    display: flex;
    align-items: baseline;
}

.user-img {
    height: 2.5rem;
}

.user-content{
    position: relative;
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 10px;
}
   
/* Child Text Container */
.user-content figcaption{
    position: absolute;
    background: whitesmoke;
    color: black;
    font-family: sans-serif;
    font-size: 11px;
    left: 40px;
    top: 30px;
    opacity: 0;
    visibility: hidden;
    z-index: 99;   
    /*-webkit-transition: visibility 0s, opacity 0.5s linear; 
    transition: visibility 0s, opacity 0.5s linear;*/
}

.export {
    background: #007991;
    background: -webkit-linear-gradient(to right, #78ffd6, #007991);
    background: linear-gradient(to right, #78ffd6, #007991); 
    padding: 10px;
    border: 0;
}

/* Hover on Parent Container *//*
.user-content:hover{
    cursor: pointer;
}*/
   /*
.user-content:hover figcaption{
    width: 110px;
    padding: 1px 1px;
    visibility: visible;
    opacity: 0.7; 
}*/

/* ---------------------------------- */